.hello-user {
    top:15px;
    right: 15px;
    position:relative !important;
}

.new-smartphone {
    margin-bottom: 20px;
    margin-top: -20px;
}

.content {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(192,192,192,0.7);
}

.success-box {
    margin-top: 10px;
    max-width: 350px;
}